{% extends user.is_authenticated|yesno:"societly/base-loged-in.html,societly/base.html" %}

{% load staticfiles %}
{% block title_block %}
    <title>Add Event</title>
{% endblock %}

{% block body_block %}
    <div id="box" style = "text-align: center">
        <form is = "event_form" action="" method="POST" enctype = "multipart/form-data">
            {% csrf_token %}
            {{event_form.as_p}}
            <input type="submit" value= "Add Event"/>
        </form>
    </div>
{% endblock %}