<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>
</head>
<body>
    <header class = "header">
        <div class = "logo">
            <h2>Some Logo</h2>
        </div>
        <div>
            <ul class = "navbar">
                <li>Home</li>
                <li>Societies</li>
                <li>Events</li>
                <li>Log In</li>
                <li>Sign Up</li>
            </ul>
        </div>
    </header>
</body>
</html>