<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>
</head>
<body>
    <header class = "header">
        <div class = "logo">
            <h1>Some Logo</h1>
        </div>
        <div>
            <ul class = "navbar">
                <li>Home</li>
                <li>Societies</li>
                <li>Events</li>
                <li>Log In</li>
                <li>Sign Up</li>
            </ul>
        </div>
    </header>
    <div class = "main-content">
        <section class = "left-half-section">
            <h2>Goodbye Excel.</h2>
            <h2>Welcome Societly.</h2>
            <p>Lorem ipsum dolor sit amet, no debitis fastidii erroribus mei, eum quot iudico voluptaria eu. Diam placerat ocurreret ius ut, singulis scriptorem id vis. Vel te nusquam deterruisset, illum vitae electram in eos, vis eu erat insolens. Platonem tincidunt constituam cum ex, eu saepe persecuti sit. </p>
            <button type = "button">Sign Up</button>
        </section>  
        <section class = "right-half-section">
            <img src="" alt="Random minimalist image">
        </section>  
    </div>
    <footer>
        <div>
            <ul>
                <li>About Us</li>
                <li>Contact Us</li>
                <li>FAQs</li>
            </ul>
        </div>
    </footer>
</body>
</html>