{% extends user.is_authenticated|yesno:"societly/base-loged-in.html,societly/base.html" %}

{% load staticfiles %}     
    {% block body_block %} 
    <script>

      function fn(){
          
      
          soci = document.getElementsByClassName("societies");
          even = document.getElementsByClassName("events");
      
          for (var i = 0; i < soci.length; i++) {
               var child = soci[i];
               var istr = String(i);
               child.setAttribute("id",istr);
               $('#'+ istr ).hover(function(){
                $(this).css("opacity", 1);
                }, function(){
                $(this).css("opacity", "0.7");
              });
      }
          for (var i = 0; i <even.length; i++) {
                  var child = even[i];
                  var istr = String(i);
                  child.setAttribute("id",istr);
                  $('#'+ istr ).hover(function(){
                    $(this).css("opacity", "1");
                    }, function(){
                    $(this).css("opacity", "0.7");
                  });
      }}
     
  </script>
    <div onload = "fn()"  id = "container" class="container-fluid " style = "height:100%; width:100%; margin-left:0px; padding: 0">


    <div id = "container" class="container-fluid " style = "height:100%; width:100%; margin-left:0px;">

        <div class="row  h-100">
            
                <div id = "left" class="col-3 h-100 d-none d-md-block" style = "background-image: linear-gradient(blue, red); opacity:0.5; text-align:center; margin:0;" >
                        
        
                        <a class="nav-link" href=""><h2  style = "color:white;display:inline-block;">{{fullname}}</h2></a>
                        
                        <div style = "height:55%; border-radius :50%;
                        background-image: url('{{picture.url}}');border : 3px solid #bf9de0; "></div>
                        <a class="nav-link" href=""><h4  style = "color:white;text-align:center">{{matricNo}}</h4></a>
                        <a class="nav-link" href=""><h4  style = "color:white;text-align:center">{{degree}}</h4></a>
                      
                </div>
                
                <div id = "right" class="col-md-9 h-100 col-12 " style = "padding:0;">
                                                      
                            <div class="row" style  = "height:46%; background-color: white; margin:0;"> 
                          
                              <div style = "width:100%; margin-left:5%;margin-right:5%;margin-top:10px;margin-bottom:10px;">
                                <h3 class = "col-12" style= " height:20%; margin:0; padding-top: 5px; ">My Societies</h3>    
                                
                                <div class="row col-12" style= " height:80%;">
                                        {% for soc in societies %}
                                             
                                              <div id = "god" class="societies d-none d-sm-block col-3" style = "border : 3px solid #bf9de0; bottom:5%;margin:2%;border-radius :25px;
                                              background-image: url('{{soc.society.logo.url}}'); opacity:0.7;">
                                              <a href="/society/{{soc.society.slug}}">
                                              <h3 style = "position:absolute"><font color="white">{{soc.society.name}} </font> </h3>
                                              </a>
                                              </div>
                                
                                        {% endfor %}   
                                        
                                        <a class="btn btn-primary" style = "position:absolute; bottom:15px; right:10px" href="#" role="button"><div style = "float:right">See all</div></a>

                            </div>
                            </div>
                            </div>
                                 
                                 
                            <div class="row" style ="height:46%; background-color: white; margin:0;"> 
                               <div style = "width:100%; margin-left:5%;margin-right:5%;margin-top:10px;margin-bottom:10px;"> 
                               <h3 class = "col-12" style ="height:20%; margin:0; padding-top: 5px;">My Events</h3>    
     
                                         <div class="row col-12" style= "height:80%;">                              
                                            {% for ev in events %}
                                            
                                            <div class="events d-none d-sm-block col-3" style = "border : 3px solid #bf9de0; bottom:5%;margin:2%;border-radius :25px;
                                            background-image: url('{{ev.image.url}}');opacity:0.7; ">
                                                <h3 style = "position:absolute"><font color="white">{{ev.name}} </font> </h3>
                                                
                                            </div>
                                            {% endfor %}   
                                        
                                        <a class="btn btn-primary" style = "position:absolute; bottom:15px; right:10px" href="#" role="button"><div style = "float:right">See all</div></a>
      
                            </div>
                            </div>
                            </div>
                </div>

        </div>
    </div>

 

{% endblock %}


   
