{% extends user.is_authenticated|yesno:"societly/base-loged-in.html,societly/base.html" %}

{% load staticfiles %}     
    {% block body_block %} 
    <style>
        #seemorebtn {display:none;}
        .description {display:inline;}
        </style>
          <script src="/static/js/ajax.js"></script>
            <div class=" container-fluid"  onload="seeMore()" style ="background-color:mediumpurple; height: 100%; padding: 0">       
                <div style = " margin: 10px;">
                    <div class="row">
                      <div class="d-none d-sm-block" >
                        <img src="{{society.logo.url}}" alt ="Society image">
                      </div>
                      <div class="col-12 col-sm-9">
                         <div style = "margin-top: 10px"> <h2>{{society.name}}</h2></div>
                         <p class = "description"><p class="description" id = "first"></p><p  class="description" id = "dots"></p>
                            <p class="description" id = "second"></p>
                         <button class="btn btn-light" onclick="showMore()" id = "sbtn">Read more</button>
                         {% if not user.is_authenticated %}
                            <a class="btn btn-primary" href="{%url 'register'%}" role="button">Register to subscribe</a>
                         {% elif member %}
                            <a class="btn btn-primary unsubscribe" role="button" data-society="{{society.slug}}" data-member="{{member}}">Unsubscribe</a>
                            <a class="btn btn-primary subscribe" role="button" data-society="{{society.slug}}" data-member="{{member}}">Subscribe</a>
                         {% else %}
                            <a class="btn btn-primary unsubscribe" role="button" data-society="{{society.slug}}" data-member="{{member}}">Unsubscribe</a>
                            <a class="btn btn-primary subscribe" role="button" data-society="{{society.slug}}" data-member="{{member}}">Subscribe</a>
                         {% endif %}
                        
                      </div>
                    </div>

                    <div class="row" style = "background-color: rgb(81, 34, 149); margin-top: 15px;">
                        <h3 class = "col-12" style = "color:white">Events</h3>
                    </div>

                    <div class = "events-container" style = "margin-top: 15px;"></div>

                    <table class="table table-bordered">
                            <thead>
                              <tr>
                                <th scope="col">Name</th>
                                <th scope="col">Society</th>
                                <th scope="col">Date</th>
                                <th scope="col"></th>
                              </tr>
                            </thead>
                            <tbody id = "evTable">
                            </tbody>
                          </table>


                    <div class="row" style = "margin-top: 15px; float:right; margin-right: 10px;">
                           <button class="btn btn-light" onclick= moreEvents()>More Events</button>
                        </div>
            </div>
          </div>  
<script>

var para = document.getElementsByClassName("description");
var but =  document.getElementById("sbtn");
var text  = "";
function seeMore(){ 

        text = "{{society.description}}";
        let text1 = text.substring(0,400);
        para[0].innerHTML = text1;
        para[1].innerHTML = "";
        if(text.length>400){ 
            para[1].innerHTML = "...";
            but.style.display("inline");
            }               
        showEv();

    }
function showMore(){    
        if(para[2].innerHTML != ""){ 
            para[2].innerHTML = "";
            para[1].innerHTML = "...";
            but.innerHTML = "Read more";
        }
        else{     
            let text2 = text.substring(100);
            para[1].innerHTML = "";
            para[2].innerHTML = text2;
            but.innerHTML = "Show less";
        }
    }

var evTable = document.getElementById("evTable");

var evCounter = 0;
var maxNum = 0;
function showEV(){           
    maxNum += 5;
    {%for ev in events%}

        var tab =  document.createElement('tr');
        tab.setAttribute('scope','row');
        tab.innerHTML = evCounter++;

        var nm =  document.createElement('td');  
        nm.innerHTML  = {{ev.name}};     
        var so =  document.createElement('td');
        so.innerHTML = {{ev.society}};
        var da =  document.createElement('td');
        da.innerHTML = {{ev.date}};
        var bu = document.createElement('a');
        bu.setAttribute('href','event/{{ev.name}}');

        if(evCounter<maxNum){
        tab.appendChild(nm);
        tab.appendChild(so);
        tab.appendChild(da);
        tab.appendChild(bu);

        evTable.appendChild(tab);   }+   
    {%endfor%}
    }

    </script>
    

    {% endblock %}
